table

{

    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    overflow: auto;

}

td

{

    border: 1px solid black;
    vertical-align: text-middle;
    text-align: center;

}

#entete{

  background-image: url(bann.png);
  /*text-shadow: 2px 2px grey;*/
  text-align: right;
  color: grey;
  background-size: auto;
  background-repeat: no-repeat;
}

#banniere{
  vertical-align: top;
  background-color: #ffc987;
  font-family: Verdana;
}

form#authentification {
  background: #c4daff;
  /*-moz-border-radius: 10px;
  -webkit-border-radius: 10px;*/
  border-radius: 20px;
  padding: 20px;
  font-family: Verdana;
}

form#authentification fieldset {
  border-radius: 5px;
  margin-bottom: 10px;
}
form#authentification fieldset:last-of-type {
  margin-bottom: 0;
}

a#liens
{
  font-family: verdana;
  color:black;
  text-shadow: 2px 2px white;
  text-decoration: none;
}

a#onglet{
  background: #2335aa;
  border-radius:20px;
  padding: 10px;
  font-family: Verdana;
  color: white;
  text-decoration: none;
  font-size: 0.7em;

}

a:active
{
  color: grey;
  font-size: 0.9em;
}


#corps{

  background-color: rgb(242,235,182);
  text-align: center;
  font-family: Verdana;
  vertical-align: top;

}

#truc4{

  background-color: black;

}

#titre{
  text-decoration: underline;
  font-weight: bold;
  background: grey;
  border-radius: 5px;
  color: black;
  padding: 10px;
  font-size: 1.1em;
}

#affichage{
  text-align: left;
}